.cart{
    background-color: rgba(143, 188, 143, 0.5);
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    position: sticky;
    top: 0;
}
.cart h2{
    margin-top: 0;
    text-align: center;
    font-size: 30px;
}