.cart{
    background-color: rgba(143, 188, 143, 0.5);
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    position: sticky;
    top: 0;
}
.cart h2{
    margin-top: 0;
    text-align: center;
    font-size: 30px;
}
.btn-payment-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-clear{
    background-color: rgba(143, 188, 143, 0.8);
    border: 2px solid rgba(143, 188, 177, 0.9);
    border-radius: 5px;
    padding: 10px;
}
.btn-clear:hover{
    background-color: rgba(143, 188, 143, 0.4);
}
.price{
    font-weight: normal;
}