.product{
    display: flex;
    align-items: center;
    background-color: rgba(143, 188, 143, 0.13);
    border: 1px solid rgba(128, 128, 128, 0.507);
    border-radius: 20px;
    position: relative;
}
.product img{
    width: 330px;
    height: 250px;
    border-radius: 20px 0 0 20px;
}
.product-info{
    margin-left: 20px;
}
.product-info h2{
    margin-top: 0;
}
.product-info p{
    margin-top: 0;
    margin-bottom: 0;
}
.btn-cart{
    border: 1px solid rgba(128, 128, 128, 0.438);
    background-color: rgba(127, 255, 212, 0.514);
    padding: 8px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
}
.btn-cart:hover{
    background-color:  rgba(127, 255, 212, 0.829);
    cursor: pointer;
}